## Tiger Shapefiles

These files come from the United States Census Bureau Repository containing geography files for Indian Reservations, Roads, Legislative Districts, and other sites of government interest.  I will pull each of the files available under the Military Installations section of the data, year by year.

Site: https://www.census.gov/cgi-bin/geo/shapefiles/index.php

In [4]:
import pandas as pd
import numpy as np
import statsmodels.formula.api as smf
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [9]:
from simpledbf import Dbf5
import geopandas as gpd

### 2017

In [10]:
tiger17=Dbf5('tl_2017_us_mil.dbf')
tiger17=tiger17.to_dataframe()
tiger17.head()

,ANSICODE,AREAID,FULLNAME,MTFCC,ALAND,AWATER,INTPTLAT,INTPTLON
0,NaN,11020448814,Pope AFB,K2110,8670226,28205,+35.1715497,-79.0170850
1,NaN,11020470006,San Joaquin Depot Tracy,K2110,1881114,0,+37.7159119,-121.3922935
2,NaN,11020469978,Defense Distribution Region West Sharpe Site,K2110,2963098,0,+37.8405609,-121.2689365
3,NaN,110224227047,Marine Corps Recruit Depot Parris Island,K2110,29099745,2500373,+32.3401212,-80.6933109
4,NaN,1104781809171,Naval Hospital Key West,K2110,63746,0,+24.5688529,-81.7509435

In [12]:
geotiger17= gpd.GeoDataFrame.from_file("tl_2017_us_mil.shp")
geotiger17.head()

,ANSICODE,AREAID,FULLNAME,MTFCC,ALAND,AWATER,INTPTLAT,INTPTLON,geometry
0,,11020448814,Pope AFB,K2110,8670226,28205,+35.1715497,-79.0170850,"POLYGON ((-79.066412 35.189744, -79.0664149999..."
1,,11020470006,San Joaquin Depot Tracy,K2110,1881114,0,+37.7159119,-121.3922935,"POLYGON ((-121.398194 37.725424, -121.396799 3..."
2,,11020469978,Defense Distribution Region West Sharpe Site,K2110,2963098,0,+37.8405609,-121.2689365,"POLYGON ((-121.274219 37.831966, -121.274084 3..."
3,,110224227047,Marine Corps Recruit Depot Parris Island,K2110,29099745,2500373,+32.3401212,-80.6933109,"POLYGON ((-80.744145 32.361699, -80.7447399999..."
4,,1104781809171,Naval Hospital Key West,K2110,63746,0,+24.5688529,-81.7509435,"POLYGON ((-81.75252499999999 24.569873, -81.75..."

In [13]:
geotiger17['geometry'].describe()

count                                                   831
unique                                                  831
top       (POLYGON ((-122.631111 47.565095, -122.631109 ...
freq                                                      1
Name: geometry, dtype: object

### 2016

In [20]:
tiger16=Dbf5('tl_2016_us_mil.dbf')
tiger16=tiger16.to_dataframe()
tiger16.head()

,ANSICODE,AREAID,FULLNAME,MTFCC,ALAND,AWATER,INTPTLAT,INTPTLON
0,NaN,11020448814,Pope AFB,K2110,8670226,28205,+35.1715497,-79.0170850
1,NaN,11020470006,San Joaquin Depot Tracy,K2110,1881114,0,+37.7159119,-121.3922935
2,NaN,11020469978,Defense Distribution Region West Sharpe Site,K2110,2963098,0,+37.8405609,-121.2689365
3,NaN,110224227047,Marine Corps Recruit Depot Parris Island,K2110,29099750,2500373,+32.3401871,-80.6932150
4,NaN,1104781809171,Naval Hospital Key West,K2110,63746,0,+24.5688529,-81.7509435

In [21]:
geotiger16= gpd.GeoDataFrame.from_file("tl_2016_us_mil.shp")
geotiger16.head()

,ANSICODE,AREAID,FULLNAME,MTFCC,ALAND,AWATER,INTPTLAT,INTPTLON,geometry
0,,11020448814,Pope AFB,K2110,8670226,28205,+35.1715497,-79.0170850,"POLYGON ((-79.066412 35.189744, -79.0664149999..."
1,,11020470006,San Joaquin Depot Tracy,K2110,1881114,0,+37.7159119,-121.3922935,"POLYGON ((-121.398194 37.725424, -121.396799 3..."
2,,11020469978,Defense Distribution Region West Sharpe Site,K2110,2963098,0,+37.8405609,-121.2689365,"POLYGON ((-121.274219 37.831966, -121.274084 3..."
3,,110224227047,Marine Corps Recruit Depot Parris Island,K2110,29099750,2500373,+32.3401871,-80.6932150,"POLYGON ((-80.744145 32.361699, -80.7447399999..."
4,,1104781809171,Naval Hospital Key West,K2110,63746,0,+24.5688529,-81.7509435,"POLYGON ((-81.75252499999999 24.569873, -81.75..."

### 2015

In [16]:
tiger15=Dbf5('tl_2015_us_mil.dbf')
tiger15=tiger15.to_dataframe()
tiger15.head(15)

,ANSICODE,AREAID,FULLNAME,MTFCC,ALAND,AWATER,INTPTLAT,INTPTLON
0,NaN,1104755836216,Cp Dawson,K2110,6616604,0,+39.4047960,-79.7033883
1,NaN,1104755835649,Cp Dawson,K2110,5067756,0,+39.3976617,-79.6540988
2,NaN,110804252077,Cp Dawson,K2110,3481732,328031,+39.4491845,-79.6656715
3,NaN,110509768184,Coast Guard Station Honolulu,K2110,238893,0,+21.3078163,-157.8750491
4,NaN,110425339707,Coast Guard Station Jones Beach Freeport,K2110,30257,0,+40.5905867,-73.5564394
5,NaN,1104762000852,Cp Grayling,K2110,173055,0,+44.5926950,-84.7568433
6,NaN,1104747924278,Cp Grayling,K2110,162789,0,+44.6462439,-84.8981400
7,NaN,1104745495893,Cp Grayling,K2110,266972264,1710708,+44.7771300,-84.5605507
8,NaN,1104745483620,Cp Grayling,K2110,2995901,0,+44.7223399,-84.6616579
9,NaN,1104745483130,Cp Grayling,K2110,2047197,2687,+44.7133586,-84.6894612
10,NaN,110376928148,Cp Grayling,K2110,315897719,8180723,+44.6125153,-84.8706365
11,NaN,110223174599,Milan Army Ammunition Plnt,K2110,90332203,38384,+35.8736977,-88.7065376
12,NaN,110454146528,Maxwell AFB,K2110,8620031,577678,+32.3823820,-86.3565299
13,NaN,110512191594,Minot AFB,K2110,19229129,828695,+48.4209004,-101.3380074
14,NaN,110451376222,Pine Bluff Arsenal,K2110,52670757,1694090,+34.3258375,-92.0857013

In [17]:
tiger15.count()

ANSICODE      1
AREAID      804
FULLNAME    804
MTFCC       804
ALAND       804
AWATER      804
INTPTLAT    804
INTPTLON    804
dtype: int64

In [18]:
geotiger15= gpd.GeoDataFrame.from_file("tl_2015_us_mil.shp")

In [19]:
geotiger15.head()

,ANSICODE,AREAID,FULLNAME,MTFCC,ALAND,AWATER,INTPTLAT,INTPTLON,geometry
0,,1104755836216,Cp Dawson,K2110,6616604,0,+39.4047960,-79.7033883,"POLYGON ((-79.733757 39.407096, -79.7333539999..."
1,,1104755835649,Cp Dawson,K2110,5067756,0,+39.3976617,-79.6540988,"POLYGON ((-79.673025 39.407539, -79.6711959999..."
2,,110804252077,Cp Dawson,K2110,3481732,328031,+39.4491845,-79.6656715,"POLYGON ((-79.68371499999999 39.447279, -79.68..."
3,,110509768184,Coast Guard Station Honolulu,K2110,238893,0,+21.3078163,-157.8750491,"POLYGON ((-157.878576 21.309148, -157.877439 2..."
4,,110425339707,Coast Guard Station Jones Beach Freeport,K2110,30257,0,+40.5905867,-73.5564394,"POLYGON ((-73.557591 40.59126699999999, -73.55..."